<section>
    <div #main
        class="flex text-center items-center justify-center w-full h-screen text-8xl leading-[0.7] tracking-[-0.18rem] bg-primary" >
        <div class="z-20 relative test" #text>
            <em class="font-italic">We</em>
            <em class="font-italic"> are a </em>
            CREATIVE
            <em class="font-italic"> studio<br>
            </em>DEDICATED <em class="font-italic">to </em>CULTURAL<br>
            ADVANCEMENT <em class="font-italic">through</em> <br>
            STRATEGY <em class="font-italic">and </em>DESIGN.
        </div>
    </div>
</section>

<section data-scroll data-scroll-section>
    <div class="w-full h-screen bg-black" data-scroll data-scroll-speed="-0.04">
        <div class="flex flex-col items-center justify-center h-full w-full bg-black text-white" id="imgPage">
            <div class="relative w-full group xl:cursor-pointer element"
                data-img="https://works.studio/assets/imager/images/mineral-health/38349/MIN-1_240208_000417_7e2310f9f2d149843122e3a2929676cc.jpg">
                <h1
                    class="text-center h-[75px] text-7xl text-white font-light uppercase  relative z-20 group-hover:font-italic group-hover:text-black xl:cursor-pointer transition-all ease-in duration-[30] ">
                    mineral</h1>

                <div
                    class="absolute scale-y-0 group-hover:scale-y-100 top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 transition-all ease-in duration-75 w-full">
                    <div
                        class="bg-gradient-to-r from-[#f5e41bf0] to-[#f5e41bf0] w-1/2  h-6 z-10 left-1/2  absolute top-1/2 -translate-y-1/2 -translate-x-1/2 shadow-[0px_0px_10px_3px_#f5e41be8]">
                    </div>

                    <div class="animation-scroll w-full">
                        <div class=" bg-primary inline-block z-10 w-fit whitespace-nowrap text-xl">
                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7">
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                            </div>

                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7 ">
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                            </div>


                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7 ">
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                            </div>


                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7 ">
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                            </div>

                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7 ">
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                            </div>

                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7 ">
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                            </div>

                        </div>
                    </div>
                </div>


            </div>

            <div class="relative w-full group xl:cursor-pointer element"
                data-img="https://works.studio/assets/imager/images/converse-global-fa23/37951/converse-21_7e2310f9f2d149843122e3a2929676cc.jpg">
                <h1
                    class="text-center h-[75px] text-7xl text-white font-light uppercase  relative z-20 group-hover:font-italic group-hover:text-black xl:cursor-pointer transition-all ease-in duration-[30] ">
                    Converse</h1>

                <div
                    class="absolute scale-y-0 group-hover:scale-y-100 top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 transition-all ease-in duration-75 w-full">
                    <div
                        class="bg-gradient-to-r from-[#f5e41bf0] to-[#f5e41bf0] w-1/2  h-6 z-10 left-1/2  absolute top-1/2 -translate-y-1/2 -translate-x-1/2 shadow-[0px_0px_10px_3px_#f5e41be8]">
                    </div>

                    <div class="animation-scroll w-full">
                        <div class=" bg-primary inline-block z-10 w-fit whitespace-nowrap text-xl">
                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7">
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                            </div>

                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7 ">
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                            </div>


                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7 ">
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                            </div>


                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7 ">
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                            </div>

                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7 ">
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                            </div>

                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7 ">
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6 ">scrolling</p>
                            </div>

                        </div>
                    </div>
                </div>


            </div>

            <div class="relative w-full group xl:cursor-pointer element"
                data-img="https://works.studio/assets/imager/images/skky-partners/37986/skky-25_7e2310f9f2d149843122e3a2929676cc.jpg">
                <h1
                    class="text-center h-[75px] text-7xl text-white font-light uppercase relative z-20 group-hover:font-italic group-hover:text-black xl:cursor-pointer transition-all ease-in duration-[30] ">
                    skky</h1>

                <div
                    class="absolute scale-y-0 group-hover:scale-y-100 top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 transition-all ease-in duration-75 w-full">
                    <div
                        class="bg-gradient-to-r from-[#f5e41bf0] to-[#f5e41bf0] w-1/2  h-6 z-10 left-1/2  absolute top-1/2 -translate-y-1/2 -translate-x-1/2 shadow-[0px_0px_10px_3px_#f5e41be8]">
                    </div>

                    <div class="animation-scroll w-full">
                        <div class=" bg-primary inline-block z-10 w-fit whitespace-nowrap text-xl">
                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7">
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                            </div>

                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7 ">
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                            </div>


                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7 ">
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                            </div>


                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7 ">
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                            </div>

                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7 ">
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                            </div>

                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7 ">
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                            </div>

                        </div>
                    </div>
                </div>


            </div>

            <div class="relative w-full group xl:cursor-pointer element"
                data-img="https://works.studio/assets/imager/images/boldly/37287/BOLDLY-1_7e2310f9f2d149843122e3a2929676cc.jpg">
                <h1
                    class="text-center h-[75px] text-7xl text-white font-light uppercase  relative z-20 group-hover:font-italic group-hover:text-black xl:cursor-pointer transition-all ease-in duration-[30] ">
                    boldy</h1>

                <div
                    class="absolute scale-y-0 group-hover:scale-y-100 top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 transition-all ease-in duration-75 w-full">
                    <div
                        class="bg-gradient-to-r from-[#f5e41bf0] to-[#f5e41bf0] w-1/2  h-6 z-10 left-1/2  absolute top-1/2 -translate-y-1/2 -translate-x-1/2 shadow-[0px_0px_10px_3px_#f5e41be8]">
                    </div>

                    <div class="animation-scroll w-full">
                        <div class=" bg-primary inline-block z-10 w-fit whitespace-nowrap text-xl">
                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7">
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                            </div>

                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7 ">
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                            </div>


                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7 ">
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                            </div>


                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7 ">
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                            </div>

                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7 ">
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                            </div>

                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7 ">
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                            </div>

                        </div>
                    </div>
                </div>


            </div>


            <div class="relative w-full group element"
                data-img="https://works.studio/assets/imager/images/us-soccer/38414/USS-1_240208_001956_7e2310f9f2d149843122e3a2929676cc.jpg">
                <h1
                    class="text-center h-[75px] text-7xl text-white font-light uppercase  relative z-20 group-hover:font-italic group-hover:text-black xl:cursor-pointer transition-all ease-in duration-[30] ">
                    U.S. soccer</h1>

                <div
                    class="absolute scale-y-0 group-hover:scale-y-100 top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 transition-all ease-in duration-75 w-full">
                    <div
                        class="bg-gradient-to-r from-[#f5e41bf0] to-[#f5e41bf0] w-1/2  h-6 z-10 left-1/2  absolute top-1/2 -translate-y-1/2 -translate-x-1/2 shadow-[0px_0px_10px_3px_#f5e41be8]">
                    </div>

                    <div class="animation-scroll w-full">
                        <div class=" bg-primary inline-block z-10 w-fit whitespace-nowrap text-xl">
                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7">
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                            </div>

                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7 ">
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                            </div>


                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7 ">
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                            </div>


                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7 ">
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                            </div>

                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7 ">
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                            </div>

                            <div class=" uppercase inline-block whitespace-nowrap text-black h-7 ">
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                                <p class="whitespace-nowrap inline-block mr-6  ">scrolling</p>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>


<section>
    <div class="grid grid-cols-3 gap-8 m-12 min-h-screen">
        <div class="  flex flex-col gap-4">
            <div class=" min-h-fit h-fit  group overflow-hidden xl:cursor-pointer relative">
                <img src="https://works.studio/assets/imager/images/converse-nextstudio/35375/Cover_e49f8295ccc5a85e1a76e2d68c06456f.jpg"
                    class="w-full h-full group-hover:scale-110 object-cover transition-all ease-in duration-200 "
                    alt="sdsd">
                <div
                    class="overlay bg-black absolute opacity-25 transition-all ease-in duration-200 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full ">
                </div>
                <div
                    class="bg-black absolute opacity-0 group-hover:opacity-100 transition-all ease-in duration-200 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2  flex items-center justify-center font-light uppercase text-white text-5xl text-center w-full h-full ">
                    CONVIENCE <br> Next studio
                </div>
            </div>

            <div class=" min-h-fit  group overflow-hidden xl:cursor-pointer relative">
                <img src="https://works.studio/assets/imager/images/nike-nfl-2022/37789/nike-nfl-cover2_e49f8295ccc5a85e1a76e2d68c06456f.jpg"
                    class="w-full h-full group-hover:scale-110 object-cover transition-all ease-in duration-200"
                    alt="sdsd">
                <div
                    class="overlay bg-black absolute opacity-25 transition-all ease-in duration-200 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full ">
                </div>
                <div
                    class="bg-black absolute opacity-0 group-hover:opacity-100 transition-all ease-in duration-200 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2  flex items-center justify-center font-light uppercase text-white text-5xl text-center w-full h-full ">
                    CONVIENCE <br> Next studio
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-4">
            <div class=" min-h-fit h-fit  group overflow-hidden xl:cursor-pointer relative">
                <img src="https://works.studio/assets/imager/images/futurevvorld/38020/fvv-1.5_e49f8295ccc5a85e1a76e2d68c06456f.jpg"
                    class="w-full h-full group-hover:scale-110 object-cover transition-all ease-in duration-200 "
                    alt="sdsd">
                <div
                    class="overlay bg-black absolute opacity-25 transition-all ease-in duration-200 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full ">
                </div>
                <div
                    class="bg-black absolute opacity-0 group-hover:opacity-100 transition-all ease-in duration-200 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2  flex items-center justify-center font-light uppercase text-white text-5xl text-center w-full h-full ">
                    CONVIENCE <br> Next studio
                </div>
            </div>

            <div class=" min-h-fit  group overflow-hidden xl:cursor-pointer relative">
                <img src="https://works.studio/assets/imager/images/public/37839/public-cover2_e49f8295ccc5a85e1a76e2d68c06456f.jpg"
                    class="w-full h-full group-hover:scale-110 object-cover transition-all ease-in duration-200"
                    alt="sdsd">
                <div
                    class="overlay bg-black absolute opacity-25 transition-all ease-in duration-200 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full ">
                </div>
                <div
                    class="bg-black absolute opacity-0 group-hover:opacity-100 transition-all ease-in duration-200 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2  flex items-center justify-center font-light uppercase text-white text-5xl text-center w-full h-full ">
                    CONVIENCE <br> Next studio
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-4" >
            <div class=" min-h-fit h-fit  group overflow-hidden xl:cursor-pointer relative">
                <img src="https://works.studio/assets/imager/images/converse/38120/v1.5-converse-bball-3_e49f8295ccc5a85e1a76e2d68c06456f.jpg"
                    class="w-full h-full group-hover:scale-110 object-cover transition-all ease-in duration-200 "
                    alt="sdsd">
                <div
                    class="overlay bg-black absolute opacity-25 transition-all ease-in duration-200 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full ">
                </div>
                <div
                    class="bg-black absolute opacity-0 group-hover:opacity-100 transition-all ease-in duration-200 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2  flex items-center justify-center font-light uppercase text-white text-5xl text-center w-full h-full ">
                    CONVIENCE <br> Next studio
                </div>
            </div>

            <div class=" min-h-fit  group overflow-hidden xl:cursor-pointer relative">
                <img src="https://works.studio/assets/imager/images/jeen-yuhs/35858/v1.5-home-image2_e49f8295ccc5a85e1a76e2d68c06456f.jpg"
                    class="w-full h-full group-hover:scale-110 object-cover transition-all ease-in duration-200"
                    alt="sdsd">
                <div
                    class="overlay bg-black absolute opacity-25 transition-all ease-in duration-200 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full ">
                </div>
                <div
                    class="bg-black absolute opacity-0 group-hover:opacity-100 transition-all ease-in duration-200 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2  flex items-center justify-center font-light uppercase text-white text-5xl text-center w-full h-full ">
                    CONVIENCE <br> Next studio
                </div>
            </div>
        </div>
    </div>
</section>